.git
.github
.next
node_modules
frontend
archived_scripts
backend/venv
backend/.venv
backend/data
backend/*.log
backend/gcp-credentials.json
backend/firebase-adminsdk.json
#backend/nourient-*.json
backend/test.jpg
backend/test_*.py
backend/bq_*_bootstrap.py
backend/etl_pipeline.py
backend/train_ml_model.py
backend/list_models.py
backend/scripts/response.json
*.jpeg
*.jpg
*.png
test_result.json
