# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
backend/venv/

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Firebase / GCP Credentials (CRITICAL)
firebase-*.json
*-adminsdk.json
credentials.json
backend/firebase-adminsdk.json

# IDEs and OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Next.js (Frontend - for later)
node_modules/
.next/
out/
.pnp.*
backend/data/
backend/data/
backend/data/
dummy.json
backend/gcp-credentials.json
backend/nourient-*.json
